.header {
    height: 60px;
    text-align: center;
}

.header a {
    text-decoration: none;
    color: #FFFFFF;
}

.sidemenu {
    width: 200px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidemenu li {
    padding: 8px 0px;
}

.sidemenu img {
    width: 75px;
    padding: 16px 0px;
    height: auto;
}

.menu-button {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 12px 16px;
    background-color: #F3F4F6; 
    border: none;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #374151; /* Texto oscuro */
    cursor: pointer;
    transition: background-color 0.3s, transform 0.1s;
}

.menu-button i {
    margin-right: 8px; /* Espacio entre el icono y el texto */
}

.menu-button:hover {
    background-color: #FFFFFF;
}

.menu-button:active {
    transform: scale(0.95); /* Efecto al presionar */
}

.main-content {
    flex: 1;
    margin-right: 50%;
}

.input {
    width: 100%;
    padding: 10px;
    color: #374151;
    background-color: #F3F4F6;
    border: 1px solid #D1D5DB;
    border-radius: 5px;
}

.input:focus {
    outline: none;
    border-color: #1E3A8A;
    box-shadow: 0 0 5px #1E3A8A;
}


.button {
    display: inline-block;
    padding: 12px 24px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    background-color: #1E3A8A;
    border: 1px solid #1E3A8A;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.button:hover {
    background-color: #2563EB;
    outline: none;
    border: 1px solid #2563EB;
}

.button:active {
    transform: scale(0.95);
}